@media(max-width:1000px){
    .logo{
        height: 65px;
    }

    .logo-btn{
        width: 50%;
    }

    .top-btn{
        max-width: 75px;
        max-height: 75px;
        opacity: 1.0;
    }

    aside{
       margin-top: 65px; 
    }
    
    main{
        margin-top: 65px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .title{
        margin-bottom: -25px;
    }

    .home{
        margin-top: -5px;
    }
    
    footer{
       height: 65px;
    }
}
