@media(max-width:1000px){
    .logo-btn{
        width: 50%;
    }

    .top{
        bottom: 20;
        right: 20;
    }

    .top-btn{
        max-width: 100px;
        max-height: 100px;
        opacity: 1.0;
    }
    
    main{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .home{
        margin-top: -5px;
        font-size: 30px;
    }

    .title{
        font-size: 25px;
    }

    .tag{
        font-size: 30px;
    }

    .date{
        font-size: 30px;

    .text{
        font-size: 30px;
    }

    .footer-btn{
        font-size: 30px;
    }
}
