@media(max-width:1000px){
    .logo-btn{
        width: 50%;
    }
    
    .top-btn{
        max-width: 100px;
        max-height: 100px;
        opacity: 1.0;
    }
    
    main{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .icon{
        width:75px
    }

    .name{
        font-size: 18px;
    }
    
    .text{
        font-size: 10px;
    }

    .article-list{
        font-size: 15px;
    }
