@media(max-width:1000px){
    .logo-btn{
        width: 50%;
    }

    .top{
        bottom: 20;
        right: 20;
    }

    .top-btn{
        max-width: 100px;
        max-height: 100px;
        opacity: 1.0;
    }
    
    main{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .introduction-head{
        font-size: 40px;
    }

    .name{
        font-size: 40px;
    }

    .text{
        font-size: 30px;
    }
    
    .article-head{
        font-size: 40px;
    }
    
    .article-list{
        font-size: 20px;
    }
    
    .more-btn{
        font-size: 20px;
    }

    .link-head{
        font-size: 40px;
    }

    .links a{
        font-size: 30px;
    }

    footer a{
        font-size: 30px;
    }
}
