*{
    box-sizing: border-box;
    max-width: 2000px;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(105,144,39);/*カラーコード#699027*/
}

.logo-btn{
    display: inline-block;
    width: 35%;
}

.logo-img{
    display: block;
    width: 100%;
    height: auto;
}

.background{
    padding-top: 100px;
    width: 100%;
}

.top{
    position: fixed;
    z-index: 10;
    bottom: 10;
    right: 10;
    clip-path: circle(50%);
}

.top-btn{
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    opacity: 0.5;
}

.top-btn:hover{
    opacity: 1.0;
}

.container{
    display: flex;
    justify-content: space-between;
}

aside{
    width: 20%;
    background-color: white;
}

main{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgb(240,217,178);/* カラーコード#f0d9b2*/
}

.introduction{
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    border: 3px solid pink;
}

.introduction-head{
    text-align: center;
}

.icon{
    width: 100%;
    height: 100%;
    margin: 20px 10px;
    max-width: 150px;
    max-height: 150px;
}

.name-text{
    margin-left: 10px;
    margin-right: 10px;
}

.zenobia{
    display: flex;
}

.emma{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.milk{
    padding-bottom: 10px;
    display: flex;
}

.female{
    color: red;
}

.article{
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    border: 3px solid pink;
    margin-top: 30px;
}

.article-head{
    text-align: center;
}

.article-list{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.article-list li{
    text-align: center;
    list-style: none;
}

.list-btn{
    text-decoration-line: none;
}

.more{
    text-align: center;
    display: none;
    color: black;
}

.more-btn{
    text-decoration-line: none;
}

.link{
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    border: 3px solid pink;
    margin-top: 30px;
}

.link-head{
    text-align: center;
}

.links{
    margin: 10px;
    text-align: center;
}

.link-btn{
    display: inline-block;
    padding: 10px;
    text-decoration-line: none;
    background-image: linear-gradient(135deg,rgb(120,6,255)2%,rgb(255,0,154)33%,rgb(243,9,13)66%,rgb(255,196,19)85%);
    border-radius: 15px;
    color: white;
}

.fa-instagram{
    margin-right: 5px;
}

.archive{
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    border: 3px solid pink;
    margin-top: 30px;
}

.archive-head{
    text-align: center;
}

.archive-list li{
    list-style: none;
}

.tag{
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    border: 3px solid pink;
    margin-top: 30px;
}

.tag-head{
    text-align: center;
}

.tag-list li{
    list-style: none;
}

footer{
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: rgb(90,38,1);/*カラーコード#5a2610*/
}

.footer{
    text-align: center;
}

.footer-btn{
    color: white;
}
